<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Huddleston Shipping Services</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
  </head>
  <body>
	<!-- The top navigation menu -->
    <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <ul class="nav pull-right">
	                <li><a href="/pages/home">Home</a></li>
	                <li><a href="/pages/about">About</a></li>
	                <li><a href="/pages/request">Request a Quote</a></li>
	                <li class="active"><a href="/users/sign_in">Login</a></li>
	          	</ul>
	        </div>
	    </div>
	  </div>
	  <div class="container" id="login">
        <%= form_for(resource, :html => { :class => 'well'}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <h2>Sign in</h2>
          <br/>
          <div class="control-group">
            <label class="control-label" for="email_field"><%= f.label :email %></label>
            <div class="controls">
                <%= f.email_field :email %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password_field"><%= f.label :password %></label>
            <div class="controls">
                <%= f.password_field :password %>
            </div>
          </div>

          <label class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
          </label>
          <br/>
          <div><%= f.submit "Sign in", :class => 'btn' %></div>
        <% end %>

        <%= render "links" %>
    </div>
  </body>
</html>